
.nuxt-content {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply text-black tracking-[.01em] font-bold leading-[140%];
	}

	p {
		@apply text-16 text-grey-80 mt-16px mb-32px font-normal;
	}
	code {
		@apply bg-success-500 rounded-4px py-2px px-8px my-0 mx-[1px] text-12 font-menlo text-success-100 border border-none;
	}
	pre {
		code {
			@apply border-none;
		}
	}

	a {
		@apply underline text-success-100 font-normal;
	}

	img {
		@apply mt-20px mb-10px border border-grey-10 rounded-10px;
	}

	// styles for docs content
	&.docs {
		h2,
		h3,
		h4,
		h5,
		h6:not(:first-of-type) {
			@apply mt-40px mb-6px;
		}

		strong {
			@apply font-medium;
		}

		p {
			@apply mt-10px mb-6px;
		}
		img {
			@apply mt-20px mb-6px;
		}

		ul {
			@apply ml-20px;

			li {
				@apply py-10px first-of-type:mt-20px;
			}
		}

		ol {
			@apply ml-20px;

			li {
				@apply py-8px list-decimal;
			}
		}

		ul,
		li,
		ol {
			@apply list-[unset];
		}

		hr {
			@apply h-0 border border-grey-10 mt-20px mb-30px;
		}
	}

	// styles for blog content
	&.blog {
		ul {
			@apply list-disc ml-20px mt-14px;

			li {
				@apply list-disc mb-16px;
			}
		}

		ol {
			@apply list-[initial] ml-20px mt-14px;

			li {
				@apply text-16 text-grey-80 font-normal;
			}
		}

		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			@apply mt-40px;
		}

		strong {
			@apply font-bold;
		}

		img {
			@apply m-0 h-full;
		}

		a {
			@apply text-primary-100;
		}

		blockquote {
			@apply rounded-16px pt-100px px-34px pb-64px desktop:px-64px bg-[url('~assets/images/blockquote-bg.svg')] bg-no-repeat bg-primary-100 my-44px relative bg-right-top after:absolute after:content-[url('~assets/images/quote-left.svg')] after:top-[67px] left-1/2 translate-y-0 -translate-x-1/2;

			p {
				@apply text-18 text-center tracking-[0.09em] text-white-100 desktop:text-26;
			}
		}

		hr {
			@apply h-[1px] border-none border-t-[#dbdbdb] mt-30px mb-44px;
		}
	}
}
