$desktopBreakPoint: 880px;

.nuxt-content {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-weight: bold;
		line-height: 140%;
		letter-spacing: 0.01em;
		color: #000624;
	}
	h1 {
		font-size: 34px;
	}
	h2 {
		font-size: 24px;
	}
	h3 {
		font-size: 20px;
	}
	h4 {
		font-size: 18px;
	}
	h5 {
		font-size: 16px;
	}
	h6 {
		font-size: 14px;
	}

	p {
		font-weight: 400;
		font-size: 16px;
		line-height: 27px;
		color: #31323d;
		margin: 16px 0 32px 0;
	}
	code {
		background: #f3f3f8;
		border-radius: 4px;
		padding: 2px 4px;
		margin: 0 1px;
		border: 1px solid rgba(0, 0, 0, 0.05);
		font-family: 'Menlo Regular';
		font-size: 12px;
		color: rgba(22, 25, 44, 0.4);
	}
	pre {
		code {
			border: unset;
			color: unset;
		}
	}

	a {
		text-decoration: underline;
		text-decoration: underline;
		font-weight: inherit;
	}

	img {
		margin: 20px 0 10px;
		border: 1px solid #eee;
		border-radius: 10px;
	}

	// styles for docs content
	&.docs {
		h2,
		h3,
		h4,
		h5,
		h6:not(:first-of-type) {
			margin: 40px 0 5px;
		}

		strong {
			font-weight: 500;
		}

		a {
			color: #47b38d;
		}

		p {
			margin: 10px 0 5px;
		}
		img {
			margin: 20px 0 10px;
		}

		ul li {
			border-top: 1px solid #e3e8ee;
			padding: 10px 0;

			&:first-of-type {
				margin-top: 20px;
			}
		}

		ol {
			margin-left: 20px;

			li {
				list-style-type: decimal;
				padding: 8px 0;
			}
		}

		hr {
			height: 0;
			border: 1px solid #eee;
			margin: 20px 0 30px;
		}
	}

	// styles for blog content
	&.blog {
		ul {
			list-style-type: disc;
			margin-left: 20px;
			margin-top: 14px;

			li {
				list-style-type: disc;
				margin-bottom: 15px;
			}
		}

		ol {
			list-style-type: initial;
			margin-left: 20px;
			margin-top: 14px;

			li {
				font-weight: 400;
				font-size: 16px;
				line-height: 24px;
				color: #31323d;
			}
		}

		h1 {
			font-size: 34px;
		}
		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			margin: 40px 0 0;
		}

		strong {
			font-weight: bold;
			color: inherit;
		}

		img {
			margin: 0;
			height: 100%;
		}

		a {
			color: #477db3;
		}

		blockquote {
			border-radius: 16px;
			padding: 100px 34px 64px;
			background: url('~assets/images/blockquote-bg.svg') no-repeat #477db3;
			background-position: top right;
			margin: 44px 0 44px;
			position: relative;
			p {
				font-size: 18px;
				line-height: 40px;
				text-align: center;
				letter-spacing: 0.09px;
				color: #ffffff;
			}

			@media (min-width: $desktopBreakPoint) {
				padding: 100px 64px 64px;
				p {
					font-size: 26px;
					line-height: 60px;
				}
			}

			&::after {
				position: absolute;
				content: url('~assets/images/quote-left.svg');
				top: 67px;
				left: 50%;
				transform: translate(0, -50%);
			}
		}

		hr {
			height: 1px;
			border: 0;
			border-top: 1px solid rgb(219, 219, 219);
			margin: 30px 0 44px;
		}
	}
}
