@tailwind base;
@tailwind components;
@tailwind utilities;

@import './page';
@import './font';
@import './typography';
@import './prism';

@layer utilities {
	.no-scrollbar::-webkit-scrollbar {
		@apply hidden;
	}
	.no-scrollbar {
		scrollbar-width: none;
	}
	.no-scrollbar {
		-ms-overflow-style: none;
	}
}

@layer base {
	:root {
		--color-white: 255, 255, 255;
	}
	body {
		@apply text-grey-80 overflow-x-hidden;

		& > div {
			@apply overflow-x-hidden;
		}
	}
	h1 {
		@apply text-h1;
	}
	h2 {
		@apply text-h2;
	}
	h3 {
		@apply text-h3;
	}
	h4 {
		@apply text-h4;
	}
	h5 {
		@apply text-h5;
	}
	h6 {
		@apply text-h6;
	}
	body {
		@apply bg-[#fafafe] text-black font-inter;
	}
	html {
		@apply scroll-smooth;
	}

	.cta-section {
		background: url('~/assets/images/background-pattern.svg') no-repeat, linear-gradient(180deg, #2c2f3e 0%, #422f41 100%);
		background-size: cover;
		background-position: top;
	}
}
