{{!< main}}
<div class="page home-page">

    <header>
        <section class="hero-section">
            <div class="hero-section--cta">
                <h1>An Open-Source Webhook Service</h1>
                <p>With out-of-the-box security, reliability and scalability for your webhooks infrastructure.</p>

                <a target="_blank" rel="noopener noreferrer" href="https://app.getconvoy.io/signup" class="primary">Get Started</a>
            </div>
            <div class="hero-section--img">
                <img src="../assets/images/hero-img.png" alt="hero" />
            </div>
        </section>

        <section class="section companies">
            <div class="backed-by">
                <h5>Backed By:</h5>
                <ul>
                    <li>
                        <img src="../assets/images/y-combinator.svg" class="y-combinator" alt="y-combinator" />
                    </li>
                </ul>
            </div>

            <div class="trusted-by">
                <h5>Trusted By:</h5>

                <ul>
                    <li>
                        <a target="_blank" rel="noopener noreferrer" href="https://buycoins.africa/">
                            <img src="../assets/images/buycoins-logo.svg" style="width: 70px" alt="buycoins logo" />
                        </a>
                    </li>
                    <li>
                        <a target="_blank" rel="noopener noreferrer" href="https://termii.com/">
                            <img src="../assets/images/termii-logo.png" style="width: 80px" alt="termii logo" />
                        </a>
                    </li>
                    <li>
                        <a target="_blank" rel="noopener noreferrer" href="https://www.getwallets.co/">
                            <img src="../assets/images/getwallets-logo.svg" style="width: 80px" alt="getwallets logo" />
                        </a>
                    </li>
                    <li>
                        <a target="_blank" rel="noopener noreferrer" href="https://www.dojah.io/">
                            <img src="../assets/images/dojah-logo.png" style="width: 50px" alt="dojah logo" />
                        </a>
                    </li>
                </ul>
            </div>
        </section>
    </header>
    
    <section class="section features" id="features">
        <div class="container">
            <ul>
                <li class="no-style">
                    <h2 class="section--title">Why use Convoy</h2>
                    <p class="section--description">Easily filter & debug events sent to multiple applications & endpoints with Delivery Attempt Logs</p>
                </li>
                <li>
                    <img src="../assets/images/secure-feature-icon.svg" class="a" alt="secure feature icon" />
                    <h4>Secure</h4>
                    <p>Create secrets, sign payload, verify event. Increase security by enabling rolling secrets.</p>
                </li>
                <li>
                    <img src="../assets/images/ease-feature-icon.svg" class="b" alt="ease feature icon" />
                    <h4>Ease of use</h4>
                    <p>Easily filter & debug events sent to multiple applications & endpoints with Delivery Attempt Logs</p>
                </li>
                <li>
                    <img src="../assets/images/cloud-feature-icon.svg" class="c" alt="cloud feature icon" />
                    <h4>Cloud & Language Agnostic</h4>
                    <p>Deploy to any environment and send events from any language (Ruby, Golang, JavaScript etc)</p>
                </li>
                <li>
                    <img src="../assets/images/rate-feature-icon.svg" class="d" alt="rate feature icon" />
                    <h4>Rate Limiting</h4>
                    <p>Avoid blasting too much events to a single endpoint at once with flexible rate limiting controls</p>
                </li>
                <li>
                    <img src="../assets/images/scalable-feature-icon.svg" class="e" alt="scalable feature icon" />
                    <h4>Scalable</h4>
                    <p>Independently scale Convoy as your system needs grows.</p>
                </li>
            </ul>
        </div>
    </section>

    <section class="section core-features">
        <div class="container">
            <h2 class="section--title">Core Features</h2>
            <div class="core-features--list">
                <div>
                    <ul>
                        <li>
                            <img src="../assets/images/feature-check-icon.svg" alt="check icon" />
                            <p>Independently scalable</p>
                        </li>
                        <li>
                            <img src="../assets/images/feature-check-icon.svg" alt="check icon" />
                            <p>Signatures & Rolling secrets</p>
                        </li>
                        <li>
                            <img src="../assets/images/feature-check-icon.svg" alt="check icon" />
                            <p>Retries</p>
                        </li>
                        <li>
                            <img src="../assets/images/feature-check-icon.svg" alt="check icon" />
                            <p>Clustering</p>
                        </li>
                    </ul>
                </div>
                <div>
                    <ul>
                        <li>
                            <img src="../assets/images/feature-check-icon.svg" alt="check icon" />
                            <p>Language Agnostic</p>
                        </li>

                        <li>
                            <img src="../assets/images/feature-check-icon.svg" alt="check icon" />
                            <p>Idempotency</p>
                        </li>
                        <li>
                            <img src="../assets/images/feature-check-icon.svg" alt="check icon" />
                            <p>URL per Event Type</p>
                        </li>
                        <li>
                            <img src="../assets/images/feature-check-icon.svg" alt="check icon" />
                            <p>Flexible Configuration</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="core-features--list expand">
                <div>
                    <ul>
                        <li>
                            <img src="../assets/images/feature-check-icon.svg" alt="check icon" />
                            <p>Static IPs</p>
                        </li>
                        <li>
                            <img src="../assets/images/feature-check-icon.svg" alt="check icon" />
                            <p>Rich UI - Event Logs & Querying.</p>
                        </li>
                        <li>
                            <img src="../assets/images/feature-check-icon.svg" alt="check icon" />
                            <p>Payload Filtering</p>
                        </li>
                    </ul>
                </div>
                <div>
                    <div class="core-features--img-container">
                        <img src="../assets/images/core-features-img.svg" alt="core flow" />
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section cloud">
        <div class="container">
            <div class="tabs">
                <li>
                    <button id="convoy-tab-button" class="active">
                        <span>Convoy</span>
                    </button>
                </li>
                <li>
                    <button id="convoy-app-portal-tab-button">
                        <span>App Portal</span>
                    </button>
                </li>
            </div>

            <div id="convoy-app-portal-tab-content" class="hidden">
                <h2>App Portal</h2>
                <p>
                    With app portal, we're enabling you to extend the visibility our dashboard provides you to your customers. They no longer need to reach out to you to know what is going on with their events.
                </p>
            </div>

            <div id="convoy-tab-content">
                <h2>Convoy</h2>
                <p>
                    Convoy is a cloud native service that enables you to send webhook events to users, customers, platforms reliably, securely in a scalable manner. Our open-core is open-source first i.e
                    community driven, so you can be sure to get reliable support.
                </p>
            </div>

            <div class="cloud-features">
                <div class="cloud-features_item" v-for="feature of cloudFeatures" :key="feature">
                    <img src="../assets/images/green_check.svg" alt="check" />
                    <span>Manage Webhooks</span>
                </div>
                <div class="cloud-features_item" v-for="feature of cloudFeatures" :key="feature">
                    <img src="../assets/images/green_check.svg" alt="check" />
                    <span>'View Metrics</span>
                </div>
                <div class="cloud-features_item" v-for="feature of cloudFeatures" :key="feature">
                    <img src="../assets/images/green_check.svg" alt="check" />
                    <span>Create Endpoints</span>
                </div>
                <div class="cloud-features_item" v-for="feature of cloudFeatures" :key="feature">
                    <img src="../assets/images/green_check.svg" alt="check" />
                    <span>Create Projects</span>
                </div>
            </div>

            <div class="cloud-group-img">
                <img src="../assets/images/groups-img.png" alt="group" />
                <img src="../assets/images/groups-img-small.png" class="small" alt="group" />
            </div>
        </div>
        <div class="cloud-get-started">
            <a target="_blank" rel="noopener noreferrer" href="https://app.getconvoy.io/signup" class="primary">
                Get started for free
                <img src="../assets/images/arrow-right-icon.svg" alt="arrow right" />
            </a>
        </div>
    </section>

    <section class="section sdk-app">
        <div class="container">
            <div class="sdk-app__cards">
                <div class="sdk-app__cards__item sdk">
                    <h1>Convoy SDK</h1>
                    <p>We went a step further to make it easier to integrate convoy through SDK. Follow the link below to get started with you favourite language.</p>
                    <nuxt-link to="/docs/sdk">
                        <button class="primary">
                            Get started
                            <img src="../assets/images/arrow-right-icon.svg" alt="arrow right" />
                        </button>
                    </nuxt-link>
                </div>
                <div class="sdk-app__cards__item app">
                    <h1>App Portal</h1>
                    <p>
                        With app portal, we're enabling you to extend the visibility our dashboard provides you to your customers. They no longer need to reach out to you to know what is going on with their
                        events.
                    </p>
                    <nuxt-link to="/docs/app-portal">
                        <button class="primary">
                            Get started
                            <img src="../assets/images/arrow-right-icon.svg" alt="arrow right" />
                        </button>
                    </nuxt-link>
                </div>
            </div>
        </div>
    </section>

    <section class="section start-sending">
        <div class="container">
            <h2>Start sending webhooks now, risk free</h2>
            <p>Convoy provides you with fast, secure and reliable webhooks infrastructure so you can focus on building the actual tech. Save yourself some engineering time and get started today.</p>
            <a target="_blank" rel="noopener noreferrer" href="https://app.getconvoy.io" class="primary">
                Get started for free
                <img src="../assets/images/arrow-right-icon.svg" alt="arrow right" />
            </a>
        </div>
    </section>

    <section class="section blog">
        <div class="container">
            <div class="blog-post">
                <div class="blog-post-details">
                    <div class="blog-post-details-header">
                        <div class="blogpost">BLOG POST</div>
                        <div class="date">March 11, 2021</div>
                    </div>
                    <h4>Understanding The Convoy UI</h4>
                    <p>
                        One of the major issues and problems of webhook over the years has been the ability to monitor and understand the state of your webhooks service at any time, and that’s a major part
                        of what we’re solving with Convoy as opposed to waiting for users to report failures before…
                    </p>
                    <div class="blog-post-details-bottom">
                        <div class="author">
                            <img src="../assets/images/author-img.png" alt="avatar" />
                            <div>
                                <p class="bold">Emmanuel Aina</p>
                                <p>CO-Founder Convoy</p>
                            </div>
                        </div>
                        <nuxt-link to="/blog" class="read-more">
                            Read More
                            <img src="../assets/images/angle-right-primary.svg" alt="right" />
                        </nuxt-link>
                    </div>
                </div>
                <img src="../assets/images/Featured.svg" class="blog-img" alt="blogpost" />
                <img src="../assets/images/Featured-small.svg" class="blog-img small" alt="blogpost" />
            </div>
        </div>
    </section>
</div>
<script>
    const convoyTabButton = document.querySelector('#convoy-tab-button');
    const appPortalTabButton = document.querySelector('#convoy-app-portal-tab-button');
    const convoyTabContent = document.querySelector('#convoy-tab-content');
    const appPortalTabContent = document.querySelector('#convoy-app-portal-tab-content');

    convoyTabButton.addEventListener('click', () => {
        convoyTabButton.classList.add('active');
        appPortalTabButton.classList.remove('active');
        convoyTabContent.classList.remove('hidden');
        appPortalTabContent.classList.add('hidden');
    })

    appPortalTabButton.addEventListener('click', () => {
        appPortalTabButton.classList.add('active');
        convoyTabButton.classList.remove('active');
        appPortalTabContent.classList.remove('hidden');
        convoyTabContent.classList.add('hidden');
    })
</script>