{{!< main}}
<div class="page download-page">
	<header></header>
	<div class="page blog-page">
		<h2>Download Convoy</h2>
		<p class="subtitle">Download Convoy with your favorite package manager.</p>

		<div class="tabs tabs__light">
			<li>
				<button id="macos-tab-button" class="active">
					<span>MacOS</span>
				</button>
			</li>
			<li>
				<button id="linux-tab-button">
					<span>Linux</span>
				</button>
			</li>
			<li>
				<button id="windows-tab-button">
					<span>Windows</span>
				</button>
			</li>
		</div>

		<section class="download">
			<div id="macos-tab-content">
				<h3 class="download--title">Homebrew</h3>
				<div class="code" >
					<div>
						<span>$</span>
						<code>brew tap frain-dev/tools</code>
					</div>
					<div>
						<span>$</span>
						<code>brew install convoy</code>
					</div>
				</div>
			</div>

			<div id="linux-tab-content" hidden>
				<h3 class="download--title">Package manager</h3>
				<div>
					<ul class="tabs tabs__line">
						<li>
							<button class="active" id="linux-ubuntu-tab-button">
								<span>Ubuntu/Debian</span>
							</button>
						</li>

						<li>
							<button id="linux-centos-tab-button">
								<span>CentOS/RHEL</span>
							</button>
						</li>
					</ul>

					<div class="code" id="linux-ubuntu-tab-content">
						<div>
							<span>$</span>
							<code>echo "deb [trusted=yes] https://apt.packages.getconvoy.io/ /" | sudo tee -a /etc/apt/sources.list.d/convoy.list</code>
						</div>

						<div>
							<span>$</span>
							<code>sudo apt update</code>
						</div>

						<div>
							<span>$</span>
							<code>sudo apt install convoy</code>
						</div>
					</div>

					<div class="code" id="linux-centos-tab-content" hidden>
						<div class="code--flex">
							<span>$</span>
							<div class="code--flex-code">
								<code>echo '[convoy]</code>
								<code>name=Convoy</code>
								<code>baseurl=https://yum.packages.getconvoy.io/</code>
								<code>enabled=1</code>
								<code>gpgcheck=0' | sudo tee -a /etc/yum.repos.d/convoy.repo</code>
							</div>
						</div>

						<div>
							<span>$</span>
							<code>sudo yum install convoy</code>
						</div>
					</div>
				</div>
			</div>

			<div id="windows-tab-content" hidden>
				<h3 class="download--title">Windows binary download</h3>
				<div class="download--view-more flex-between">
					<div class="download--view-more--links">
						<a target="_blank" rel="noopener noreferrer" href="https://brew.packages.getconvoy.io/releases/v0.5.2/convoy_0.5.2_windows_amd64.tar.gz" class="underlined" download="">Amd64</a>
						<a target="_blank" rel="noopener noreferrer" href="https://brew.packages.getconvoy.io/releases/v0.5.2/convoy_0.5.2_windows_arm64.tar.gz" class="underlined" download>Arm64</a>
					</div>

					<a href="/docs">
						View our Docs to learn more
						<img src="../assets/images/angle-right-primary.svg" alt="right" />
					</a>
				</div>
			</div>

			<div class="download--view-more" id="docs-link">
				<a href="/docs">
					View our Docs to learn more
					<img src="../assets/images/angle-right-primary.svg" alt="right" />
				</a>
			</div>

		</section>
	</div>
	{{!-- <Footer></Footer> --}}
</div>

<script>
	const macosTabButton = document.querySelector('#macos-tab-button');
	const linuxTabButton = document.querySelector('#linux-tab-button');
	const windowsTabButton = document.querySelector('#windows-tab-button');
	const docsLink = document.querySelector('#docs-link');

	const linuxUbuntuTabButton = document.querySelector('#linux-ubuntu-tab-button');
	const linuxCentosTabButton = document.querySelector('#linux-centos-tab-button');

	const linuxUbuntuTabContent = document.querySelector('#linux-ubuntu-tab-content');
	const linuxCentosTabContent = document.querySelector('#linux-centos-tab-content');

	const macosTabContent = document.querySelector('#macos-tab-content');
	const linuxTabContent = document.querySelector('#linux-tab-content');
	const windowsTabContent = document.querySelector('#windows-tab-content');

	macosTabButton.addEventListener('click', () => {
		macosTabButton.classList.add('active');
		macosTabContent.removeAttribute('hidden');

		linuxTabButton.classList.remove('active');
		linuxTabContent.setAttribute('hidden', '');

		windowsTabButton.classList.remove('active');
		windowsTabContent.setAttribute('hidden', '');
		
		docsLink.classList.remove('hidden');
	})

	linuxTabButton.addEventListener('click', () => {
		linuxTabButton.classList.add('active');
		linuxTabContent.removeAttribute('hidden');

		macosTabButton.classList.remove('active');
		macosTabContent.setAttribute('hidden', '');

		windowsTabButton.classList.remove('active');
		windowsTabContent.setAttribute('hidden', '');
		
		docsLink.classList.remove('hidden');
	})

	windowsTabButton.addEventListener('click', () => {
		windowsTabButton.classList.add('active');
		windowsTabContent.removeAttribute('hidden');

		macosTabButton.classList.remove('active');
		macosTabContent.setAttribute('hidden', '');

		linuxTabButton.classList.remove('active');
		linuxTabContent.setAttribute('hidden', '');

		docsLink.classList.add('hidden');
	})

	linuxUbuntuTabButton.addEventListener('click', () => {
		linuxUbuntuTabButton.classList.add('active');
		linuxUbuntuTabContent.removeAttribute('hidden');

		linuxCentosTabButton.classList.remove('active');
		linuxCentosTabContent.setAttribute('hidden', '');
	})

	linuxCentosTabButton.addEventListener('click', () => {
		linuxCentosTabButton.classList.add('active');
		linuxCentosTabContent.removeAttribute('hidden');

		linuxUbuntuTabButton.classList.remove('active');
		linuxUbuntuTabContent.setAttribute('hidden', '');
	})
</script>