.download-page {
    h2 {
        font-weight: bold;
        font-size: 27px;
        line-height: 32px;
        letter-spacing: 0.01em;
        color: #000624;
        color: #ffffff;
        margin-bottom: 8px;
        text-align: center;
        width: 100%;
    }

    p.subtitle {
        font-size: 16px;
        line-height: 24px;
        color: #737a91;
        max-width: 671px;
        margin-bottom: 36px;
        color: #ffffff;
        text-align: center;
        max-width: 590px;
        margin: auto;
        margin-bottom: 40px;
    }
    
    header {
        background: url('../images/BG.png'), no-repeat;
        background-size: cover;
        height: 350px;
        width: 100%;
    }

    .page {
        max-width: 1150px;
        margin: auto;
        margin-top: -130px;
        margin-bottom: 88px;
    }
    
    .download {
        background: #f3f3f8;
        border-radius: 4px;
        padding: 24px;
        max-width: 724px;
        width: 100%;
        margin: auto;
    
        &--title {
            font-weight: 600;
            font-size: 14px;
            line-height: 24px;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            color: #737a91;
            margin-bottom: 16px;
        }

        .code {
            background: #000624;
            border-radius: 4px;
            padding: 24px;
            width: 100%;
            color: #ffffff;
            flex-flow: column nowrap;
            font-size: 13px;
            line-height: 20px;

            span {
                color: #477db3;
            }

            &--flex {
                display: flex;

                span {
                    margin-right: 4px;
                }

                &-code {
                    display: flex;
                    flex-flow: column;
                }
            }
        }

        &--view-more {
            display: flex;
            justify-content: flex-end;
            margin-top: 27px;
    
            &--links {
                display: flex;
                align-items: center;
            }
    
            &.flex-between {
                justify-content: space-between;
            }

            a {
                display: flex;
                align-items: center;
                font-weight: 500;
                font-size: 14px;
                line-height: 22px;
                color: #477db3;
                white-space: nowrap;

                img {
                    width: 16px;
                    height: 16px;
                    margin-left: 8px;
                }
    
                &:not(:last-of-type) {
                    margin-right: 32px;
                }
                
                &.underlined {
                    text-decoration: underline;
                }
            }
        }
    }
}