$desktopBreakPoint: 880px;
.home-page {
    header {
        background: linear-gradient(180deg, #2c2f3e 0%, #422f41 100%);
        padding: 0 20px 0;

        .hero-section {
            max-width: 1106px;
            margin: auto;
            display: flex;
            justify-content: space-between;
            min-height: 75vh;
            height: 100%;
            flex-direction: column;
            padding: 155px 0 75px;

            @media (min-width: $desktopBreakPoint) {
                flex-direction: row;
                align-items: center;
            }

            &--cta {
                max-width: 533px;

                h1 {
                    font-weight: 800;
                    font-size: 32px;
                    line-height: 48px;
                    color: #ffffff;
                    margin-bottom: 16px;
                    max-width: 320px;

                    @media (min-width: $desktopBreakPoint) {
                        font-weight: bold;
                        font-size: 56px;
                        line-height: 80px;
                        max-width: 600px;
                    }
                }

                p {
                    font-size: 16px;
                    line-height: 30px;
                    color: #ffffff;
                    @media (min-width: $desktopBreakPoint) {
                        font-size: 20px;
                        line-height: 30px;
                    }
                }
            }

            &--img {
                text-align: center;
                margin-top: 80px;

                img {
                    max-width: 330px;
                }

                @media (min-width: $desktopBreakPoint) {
                    margin-left: 50px;
                    margin-top: unset;
                }
            }

            button,
            a {
                margin: 30px 0 0;
                max-width: 200px;
            }

            form {
                background: #ffffff;
                max-width: 430px;
                display: flex;
                border-radius: 8px;
                margin-top: 40px;
                flex-direction: row;

                @media (min-width: $desktopBreakPoint) {
                    flex-direction: row;
                }

                .input {
                    width: 100%;
                    display: flex;

                    input {
                        max-width: 278px;
                        width: 100%;
                        border: none;
                        padding: 9px 23px;
                        border-radius: 8px 0 0 8px;
                        outline: none;
                        margin: 0;

                        &::placeholder {
                            font-weight: 500;
                            font-size: 14px;
                            line-height: 28px;
                            color: #bdbdbd;
                        }
                    }
                }

                button {
                    max-width: 164px;
                    width: 100%;
                    margin: 0;
                    border-radius: 0 8px 8px 0;
                    font-size: 12px;

                    @media (min-width: $desktopBreakPoint) {
                        max-width: 220px;
                        width: 100%;
                        margin-top: 0;
                    }
                }
            }
        }

        .companies {
            display: flex;
            max-width: 1150px;
            margin: 0 auto;
            justify-content: space-between;
            padding: 24px;
            background: #473749;
            border-radius: 24px 24px 0px 0px;
            align-items: center;
            flex-wrap: wrap;

            h5 {
                font-size: 16px;
                line-height: 24px;
                color: #fcfcfc;
            }

            .backed-by {
                margin-bottom: 23px;
                display: flex;
                align-items: center;

                @media (min-width: $desktopBreakPoint) {
                    margin-bottom: 0;
                }

                h5 {
                    margin-right: 24px;
                }

                img {
                    width: 32px;
                }
            }

            .trusted-by {
                display: flex;

                h5 {
                    margin-right: 19px;
                    min-width: 88px;
                }

                ul {
                    overflow: auto;
                    width: 220px;
                    padding-bottom: 5px;

                    @media (min-width: $desktopBreakPoint) {
                        width: initial;
                    }

                    &::-webkit-scrollbar {
                        width: 0px;
                        height: 1px;
                        background: transparent;
                    }

                    &::-webkit-scrollbar-thumb {
                        width: 1px;
                        height: 1px;
                        background: #676467;
                    }
                }
            }

            ul {
                display: flex;
                align-items: center;

                li {
                    &:not(:last-of-type) {
                        margin-right: 20px;
                    }

                    img {
                        filter: brightness(0) invert(1);
                        transition: all 0.3s ease-in-out;
                        margin-bottom: -7px;

                        &.y-combinator {
                            filter: none;
                        }

                        &:hover,
                        &:focus {
                            cursor: pointer;
                            filter: brightness(0) invert(1);

                            &.y-combinator {
                                filter: none;
                            }
                        }
                    }
                }
            }
        }
    }

    .section {
        .container {
            max-width: 1150px;
            margin: auto;
        }

        .section--title {
            font-weight: bold;
            font-size: 48px;
            line-height: 60px;
            letter-spacing: -1.584px;

            @media (max-width: 1089px) {
                font-size: 40px;
            }
        }

        .section--description {
            font-size: 18px;
            line-height: 30px;
        }
    }

    .features {
        padding: 160px 20px 130px;

        @media (max-width: 1089px) {
            padding: 60px 20px 100px;
        }

        .container {
            position: relative;
        }

        .section--title {
            margin-bottom: 26px;
        }

        .section--description {
            max-width: 608px;
            margin-bottom: 77px;
        }

        ul {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(333px, 1fr));
            gap: 80px 32px;
            margin-bottom: 50px;

            img {
                width: 70px;
                margin-bottom: 36px;
                &.a {
                    box-shadow: 0px 22px 24px rgba(65, 111, 244, 0.2);
                }
                &.b {
                    box-shadow: 0px 22px 24px rgba(43, 214, 123, 0.2);
                }
                &.c {
                    box-shadow: 0px 22px 24px rgba(247, 227, 109, 0.2);
                }
                &.d {
                    box-shadow: 0px 22px 24px rgba(247, 227, 109, 0.2);
                }
                &.e {
                    box-shadow: 0px 22px 24px rgba(43, 214, 123, 0.2);
                }
            }

            li {
                position: relative;
                background: #fcfcfc;
                box-shadow: 0px 2px 4px rgba(12, 26, 75, 0.04), 0px 4px 20px -2px rgba(50, 50, 71, 0.08);
                border-radius: 8px;
                padding: 32px;

                &.no-style {
                    background: none;
                    padding: 0;
                    box-shadow: none;
                }

                p {
                    font-size: 16px;
                    line-height: 24px;
                    color: #737a91;
                }

                @media (max-width: 1089px) {
                    .features--dashboard-screenshot {
                        display: none;
                    }

                    &:first-child {
                        margin-bottom: -80px;
                    }
                }
            }

            h4 {
                font-weight: 600;
                font-size: 20px;
                line-height: 30px;
                margin-bottom: 16px;
            }

            p {
                font-size: 15px;
                line-height: 22px;

                @media (max-width: 1089px) {
                    font-size: 16px;
                }
            }
        }

        .features--dashboard-screenshot {
            position: absolute;
            left: 0;
            top: 0;
            width: 1100px;
            height: fit-content;

            @media (max-width: 1644px) {
                width: 1000px;
            }

            @media (max-width: 1443px) {
                width: 800px;
            }

            img {
                width: 100%;
            }

            &.stand-alone {
                position: unset;
                width: 100%;
                text-align: center;
                display: none;

                @media (max-width: 1089px) {
                    display: block;
                }

                img {
                    width: 100%;
                }
            }
        }
    }

    .core-features {
        background: linear-gradient(180deg, #2c2f3e 0%, #422f41 100%);
        padding: 80px 20px 196px;
        color: #ffffff;
        margin-bottom: 244px;

        .container {
            @media (min-width: $desktopBreakPoint) {
                padding: 75px;
            }
        }

        @media (min-width: $desktopBreakPoint) {
            padding: 80px 20px 40px;
            margin-bottom: 227px;
        }

        &--list {
            display: flex;
            align-items: center;
            justify-content: space-between;
            max-width: 750px;

            &.expand {
                max-width: 950px;
            }
            @media (max-width: 1089px) {
                display: unset;
            }
        }

        ul {
            margin-top: 32px;

            li {
                display: flex;
                align-items: center;
                margin-bottom: 29px;
                position: relative;
                font-weight: 500;
                font-size: 18px;
                line-height: 27px;

                &:not(:last-of-type)::after {
                    content: "";
                    position: absolute;
                    height: 20px;
                    width: 1px;
                    background: rgba(252, 252, 252, 0.08);
                    bottom: -24px;
                    left: 11px;
                }
            }

            img {
                width: 24px;
                margin-right: 24px;
            }
        }

        &--img-container {
            background: linear-gradient(0deg, #ffffff, #ffffff);
            box-shadow: 40px 44px 81px rgba(111, 118, 138, 0.160784);
            border-radius: 16px;
            height: 377px;
            width: 100%;
            margin-bottom: -250px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 40px;

            @media (max-width: 1089px) {
                height: fit-content;
                padding: 40px 20px;
                margin-top: +70px;
                margin-bottom: -310px;
            }

            img {
                max-width: 467px;
                width: 100%;
            }
        }
    }

    .cloud {
        margin: 20px auto;
        margin-bottom: 130px;

        .container {
            background: linear-gradient(180deg, #2c2f3e 0%, #422f41 100%);
            box-shadow: 0px 4px 8px rgba(12, 26, 75, 0.1), 0px 10px 16px rgba(20, 37, 63, 0.06);
            border-radius: 16px;
            padding: 40px 20px;
            text-align: center;
            min-height: 500px;
            color: #fff;
            position: relative;
            h2 {
                font-weight: bold;
                font-size: 32px;
                line-height: 40px;
                letter-spacing: 0.2px;
                margin-bottom: 16px;
            }
            p {
                font-size: 16px;
                line-height: 24px;
                margin-bottom: 32px;
            }

            @media (max-width: $desktopBreakPoint) {
                margin-left: 20px;
                margin-right: 20px;
            }
            @media (min-width: $desktopBreakPoint) {
                padding: 64px 120px;
                min-height: 600px;

                h2 {
                    font-size: 40px;
                    line-height: 60px;
                    letter-spacing: 0.2px;
                }
                p {
                    font-size: 18px;
                    line-height: 32px;
                }
            }

            @media (min-width: 1080px) {
                p {
                    min-height: 96px;
                }
            }
            @media (max-width: 425px) {
                p {
                    min-height: 144px;
                }
            }
        }

        .tabs {
            background: rgba(252, 252, 252, 0.16);
            border-radius: 8.91px;
            width: fit-content;
            margin: 0 auto;
            display: flex;
            flex-flow: row;
            margin-bottom: 55px;
            li {
                button {
                    border-radius: 6.93px;
                    padding: 13px 8px;
                    span {
                        font-size: 13px;
                        line-height: 16px;
                        letter-spacing: 0.02em;
                        color: #fcfcfc;
                        min-width: 86px;
                        display: inline-block;
                    }

                    &.active {
                        transition: 0.3s ease-in-out;
                        background: #ffffff;
                        box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.12), 0px 3px 1px rgba(0, 0, 0, 0.04);
                        span {
                            font-weight: 600;
                            transition: 0.3s ease-in-out;
                            color: #000624;
                        }
                    }
                    @media (min-width: $desktopBreakPoint) {
                        span {
                            font-size: 14px;
                            line-height: 16px;
                            min-width: 132px;
                        }
                        &.active {
                            span {
                                font-weight: 600;
                            }
                        }
                    }
                }
            }
        }

        &-group-img {
            margin-top: +60px;
            margin-bottom: -500px;

            img {
                display: none;

                &.small {
                    display: block;
                }
            }

            @media (min-width: $desktopBreakPoint) {
                img {
                    display: block;

                    &.small {
                        display: none;
                    }
                }
            }
        }

        &-features {
            display: flex;
            justify-content: center;

            @media (max-width: $desktopBreakPoint) {
                overflow-x: scroll;
                -webkit-overflow-scrolling: touch;
                scroll-behavior: smooth;
            }

            &_item {
                background: rgba(255, 255, 255, 0.1);
                border: 1px solid rgba(237, 241, 255, 0.05);
                box-sizing: border-box;
                box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.04);
                border-radius: 5px;
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 22px;
                color: #fcfcfc;
                padding: 7px 19px 7px 10px;
                width: fit-content;
                display: flex;
                align-items: center;
                white-space: nowrap;

                &:not(:last-of-type) {
                    margin-right: 20px;
                }

                &:hover {
                    cursor: pointer;
                }

                img {
                    height: 24px;
                    width: 24px;
                    margin-right: 12px;
                }
            }
        }

        &-get-started {
            background: rgba(8, 43, 145, 0.07);
            width: 92%;
            margin: 0 auto;
            height: 400px;
            box-shadow: 0px 16px 16px rgba(12, 26, 75, 0.05), 0px 30px 40px rgba(20, 37, 63, 0.08);
            border-radius: 0 0 24px 24px;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            padding-bottom: 32px;

            @media (max-width: 1030px) {
                width: 88%;
                height: 300px;
            }

            @media (max-width: 768px) {
                height: 470px;
                width: 92%;
            }

            @media (min-width: 1080px) {
                height: 350px;
                width: 1064px;
            }

            @media (max-width: 425px) {
                width: 86%;
                height: 315px;
            }
        }
    }

    .get-started {
        background: linear-gradient(180deg, #2c2f3e 0%, #422f41 100%);
        box-shadow: 0px 4px 8px rgba(12, 26, 75, 0.1), 0px 10px 16px rgba(20, 37, 63, 0.06);
        text-align: center;
        color: #fff;
        border-radius: 16px;

        @media (min-width: $desktopBreakPoint) {
            padding: 56px 196px;
            margin-bottom: 700px;

            h3 {
                font-weight: bold;
                font-size: 40px;
                line-height: 60px;
                letter-spacing: 0.2px;
            }
            p {
                font-size: 18px;
                line-height: 32px;
            }

            a {
                height: 56px;
                background: #477db3;
                border-radius: 8px;
                display: flex;
                justify-content: center;
                font-weight: 600;
                font-size: 16px;
                line-height: 24px;
                min-width: 227px;

                img {
                    margin-left: 16px;
                    height: 12px;
                }
            }
        }
    }

    .play-ground {
        padding-bottom: 300px;
        position: relative;

        @media (min-width: $desktopBreakPoint) {
            padding-bottom: 400px;
        }

        .bg {
            content: "";
            bottom: 0;
            left: -300px;
            right: -300px;
            height: 300px;
            background: #ffffff;
            border-radius: 100% 100% 0 0;
            margin-bottom: -400px;
            margin-right: -300px;
            margin-left: -300px;

            @media (min-width: $desktopBreakPoint) {
                height: 460px;
            }
        }

        .container {
            width: 90%;
            box-shadow: 0px 15px 50px rgba(21, 37, 72, 0.05);
            border-radius: 24px;
            text-align: center;
            padding: 80px 2rem 0;
            background: url("~/assets/images/playground-bg.svg") #ffffff no-repeat;
            background-size: contain;
            background-position: center;
            position: absolute;
            left: 50%;
            top: -300px;
            transform: translate(-50%, 0);

            @media (min-width: $desktopBreakPoint) {
                background-position: top center;
            }
        }

        h2 {
            font-weight: bold;
            font-size: 34px;
            line-height: 60px;

            @media (min-width: $desktopBreakPoint) {
                font-size: 48px;
            }
        }

        p {
            font-weight: 500;
            font-size: 18px;
            line-height: 30px;
            max-width: 620px;
            margin: 16px auto 26px;
        }

        .img {
            max-width: 830px;
            margin: auto;
            position: relative;

            img {
                width: 100%;
                margin-bottom: -4px;
            }

            a {
                position: absolute;
                left: 50%;
                top: 64%;
                transform: translate(-50%, -50%);
                padding: 17px 24px;
                background: #477db3;
                color: #ffffff;
                width: 212px;
                text-align: left;
                border-radius: 8px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-weight: bold;
                font-size: 18px;
                line-height: 22px;

                &::before {
                    content: "";
                    position: absolute;
                    width: 86px;
                    height: 102px;
                    right: -40px;
                    background: url("~/assets/images/play-ground-button-bg.svg");
                    background-size: contain;
                    z-index: -1;
                }

                img {
                    width: 12px;
                }
            }
        }
    }

    button,
    a {
        &.primary {
            height: 56px;
            background: #477db3;
            border-radius: 8px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            min-width: 227px;
            width: fit-content;
            white-space: nowrap;
            color: #fff;
            transition: 0.3s ease-in-out all;

            img {
                margin-left: 12px;
                height: 12px;
                width: 12px;
            }
        }

        &:hover {
            cursor: pointer;
        }
    }

    .offers {
        margin-bottom: 130px;

        @media (max-width: 1085px) {
            padding: 20px;
        }

        h3 {
            font-weight: bold;
            font-size: 48px;
            line-height: 58px;
            color: #000624;
            margin-bottom: 53px;
        }

        &-list {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
            gap: 48px;

            @media (max-width: 1085px) {
                grid-template-columns: repeat(auto-fill, minmax(333px, 1fr));
                gap: 48px;
            }

            &-item {
                background: #ffffff;
                border: 1px solid #edf2f7;
                box-sizing: border-box;
                border-radius: 8px;
                padding: 64px 0 0 64px;

                @media (max-width: $desktopBreakPoint) {
                    padding: 40px 0 0 40px;
                }

                h4 {
                    font-weight: bold;
                    font-size: 28px;
                    line-height: 40px;
                    max-width: 450px;
                    color: #000624;
                    margin-bottom: 32px;

                    @media (max-width: $desktopBreakPoint) {
                        font-size: 19px;
                        line-height: 30px;
                    }
                }

                img {
                    max-width: 497px;
                    max-height: 242px;
                }

                &:first-child {
                    h4 {
                        width: 230px;

                        @media (max-width: $desktopBreakPoint) {
                            width: 180px;
                        }
                    }
                }
            }
        }
    }

    .start-sending {
        margin-bottom: 130px;

        .container {
            background: url("../images/Base.png");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            padding: 56px 20px;
            box-shadow: 0px 4px 8px rgba(12, 26, 75, 0.1), 0px 10px 16px rgba(20, 37, 63, 0.06);
            border-radius: 16px;
            display: flex;
            flex-flow: column;
            align-items: center;
            text-align: center;

            @media (max-width: 768px) {
                padding: 56px 20px;
                margin: 20px;
            }

            @media (min-width: $desktopBreakPoint) {
                padding: 56px 173px;
            }

            h2 {
                color: #fff;
                letter-spacing: 0.2px;
                font-weight: 700;
                font-size: 40px;
                line-height: 60px;
                margin-bottom: 16px;
            }

            p {
                font-size: 18px;
                line-height: 32px;
                color: #fff;
                margin-bottom: 40px;
            }
        }
    }

    .blog {
        background: linear-gradient(180deg, #2c2f3e 0%, #422f41 100%);
        padding: 80px 20px;

        @media (min-width: $desktopBreakPoint) {
            padding: 80px;
        }

        &-post {
            background: #ffffff;
            box-shadow: 40px 44px 81px rgba(111, 118, 138, 0.08);
            border-radius: 16px;
            padding: 40px 16px 0 16px;
            display: flex;
            flex-wrap: wrap;
            max-width: 970px;
            margin: 0 auto;

            @media (min-width: $desktopBreakPoint) {
                padding: 56px 0 0 56px;
                flex-wrap: nowrap;
            }

            &-details {
                @media (min-width: $desktopBreakPoint) {
                    margin-right: 56px;
                }
                &-header {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 24px;

                    .blogpost {
                        background: rgba(7, 71, 166, 0.1);
                        border-radius: 4px;
                        padding: 3px 16px;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 22px;
                        color: #477db3;
                    }
                    .date {
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 22px;
                        color: #5f5f68;
                    }
                }
                &-bottom {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-bottom: 57px;
                    flex-wrap: wrap;
                    .author {
                        display: flex;
                        align-items: center;
                        img {
                            width: 40px;
                            height: 40px;
                            margin-right: 12px;
                            display: block;
                        }
                        p {
                            font-size: 12px;
                            line-height: 20px;
                            color: #31323d;
                            margin-bottom: 0;
                            &.bold {
                                font-weight: 500;
                                font-size: 16px;
                                line-height: 23px;
                            }
                        }
                    }
                    .read-more {
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 22px;
                        color: #477db3;
                        display: flex;
                        align-items: center;
                        img {
                            display: block;
                            width: 20px;
                            height: 20px;
                            margin-left: 16px;
                        }

                        @media (max-width: 320px) {
                            margin-top: 42px;
                        }
                    }
                }
                h4 {
                    font-weight: bold;
                    font-size: 24px;
                    line-height: 32px;
                    color: #16192c;
                    max-width: 312px;
                    margin-bottom: 16px;
                }
                p {
                    font-size: 16px;
                    line-height: 24px;
                    color: #737a91;
                    margin-bottom: 29px;
                }
                @media (min-width: $desktopBreakPoint) {
                    h4 {
                        font-size: 32px;
                        line-height: 42px;
                        max-width: 100%;
                    }
                }
            }

            img.blog-img {
                border-radius: 0 0 32px 0;
                display: none;
                &.small {
                    display: block;
                }
                @media (min-width: $desktopBreakPoint) {
                    display: block;
                    &.small {
                        display: none;
                    }
                }
            }
        }
        img {
            max-width: 970px;
            display: block;
            &.small {
                display: none;
            }
            @media (max-width: 425px) {
                display: none;
                &.small {
                    display: block;
                }
            }
        }
    }

    .sdk-app {
        background: #e9edf7;
        max-height: 681px;
        height: 100%;
        margin-bottom: 190px;
        position: relative;
        padding-left: 20px;
        padding-right: 20px;
        @media (min-width: $desktopBreakPoint) {
            max-height: 300px;
            min-height: 300px;
        }
        &__cards {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            gap: 40px;
            position: relative;
            bottom: -80px;
            @media (min-width: $desktopBreakPoint) {
                grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
            }
            &__item {
                width: 100%;
                box-shadow: 0px 2px 4px rgba(12, 26, 75, 0.04), 0px 4px 20px -2px rgba(50, 50, 71, 0.08);
                border-radius: 8px;
                padding: 24px;
                padding-bottom: 33px;

                &.app {
                    background: url("~/assets/images/app-portal.png") #fcfcfc no-repeat;
                    background-position: bottom right;
                    background-size: 30%;
                }
                &.sdk {
                    background: url("~/assets/images/sdk.png") #fcfcfc no-repeat;
                    background-position: bottom right;
                    background-size: 30%;
                }
                h1 {
                    font-weight: 700;
                    font-size: 28px;
                    line-height: 40px;
                    color: #000624;
                    margin-bottom: 16px;
                }
                p {
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 24px;
                    color: #7987a3;
                    margin-bottom: 32px;
                }
                a {
                    margin-bottom: 17px;
                }
                @media (min-width: $desktopBreakPoint) {
                    padding: 32px;
                    padding-bottom: 49px;
                    &.app {
                        background-size: 25%;
                    }
                    &.sdk {
                        background-size: 25%;
                    }
                }
            }
        }
    }
}
