@tailwind base;
@import './scss/fonts';
@import './scss/prism';
@import './scss/search';
@import '~prismjs/plugins/toolbar/prism-toolbar.css';
@tailwind components;
@tailwind utilities;



:root {
	--color-white: 255, 255, 255;
	--gray-strong: #101828;
	--gray-normal: #475467;
	--gray-light: #667085;
}

// @media (prefers-color-scheme: dark) {
// 	:root {
// 		--color-white: 255, 255, 255;
// 		--gray-strong: #ffffff;
// 		--gray-normal: #ffffff;
//		--gray-light: #D0D5DD;
// 	}
// }

* {
	@apply scroll-smooth;
}
body {
	@apply bg-[#fafafe] font-inter;
}
.no-scrollbar::-webkit-scrollbar {
	@apply hidden;
}
.no-scrollbar {
	scrollbar-width: none;
}
.no-scrollbar {
	-ms-overflow-style: none;
}

.active {
	@apply transition-all duration-300 relative after:bottom-0 after:h-[3px] after:w-full after:left-0 after:right-0 after:bg-primary-400 after:absolute after:rounded-tl-16px after:rounded-tr-16px;

	span {
		@apply font-semibold text-primary-400 transition-all duration-300;
	}
}

.slideshow {
	height: 150px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	transform: translate3d(0, 0, 0);
	white-space: nowrap;

	.firstSlide {
		animation: moveSlideshow 100s linear infinite;
		display: flex;
		width: calc(350px * 7);

		&:hover {
			-webkit-animation-play-state: paused;
			-moz-animation-play-state: paused;
			-o-animation-play-state: paused;
			animation-play-state: paused;
		}
	}

	.secondSlide {
		animation: moveSlideshow 80s linear infinite -20s;
		display: flex;
		width: calc(350px * 7);

		&:hover {
			-webkit-animation-play-state: paused;
			-moz-animation-play-state: paused;
			-o-animation-play-state: paused;
			animation-play-state: paused;
		}
	}
}

@keyframes moveSlideshow {
	0% {
		transform: translateX(0%);
	}

	100% {
		transform: translateX(calc(-350px * 7));
	}
}

.testimonial {
	p {
		@apply text-10 text-gray-800;
		a {
			@apply text-primary-400;
		}
	}
}

h1 {
	@apply text-h1;
}
h2 {
	@apply text-h2;
}
h3 {
	@apply text-h3;
}
h4 {
	@apply text-h4;
}
h5 {
	@apply text-h5;
}
h6 {
	@apply text-h6;
}

.border-blue {
	background: linear-gradient(#ffffff, #ffffff) padding-box, linear-gradient(88deg, rgba(237, 242, 247, 1) 40%, rgba(181, 203, 225, 1) 100%) border-box;
}
.border-yellow {
	background: linear-gradient(#ffffff, #ffffff) padding-box, linear-gradient(88deg, rgba(237, 242, 247, 1) 40%, rgba(254, 200, 75, 1) 100%) border-box;
}
.border-red {
	background: linear-gradient(#ffffff, #ffffff) padding-box, linear-gradient(88deg, rgba(237, 242, 247, 1) 40%, rgba(253, 162, 155, 1) 100%) border-box;
}
.border-green {
	background: linear-gradient(#ffffff, #ffffff) padding-box, linear-gradient(88deg, rgba(237, 242, 247, 1) 40%, rgba(169, 239, 197, 1) 100%) border-box;
}
.border-black {
	background: linear-gradient(#ffffff, #ffffff) padding-box, linear-gradient(88deg, rgba(237, 242, 247, 1) 40%, rgba(102, 112, 133, 1) 100%) border-box;
}
